{% extends "bootstrap/base.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
    <div class="panel panel-default">

        <div class="panel-body">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
            <a class="btn btn-info btn-xs"  href={{ url_for('upload') }}>上传界面</a>
            <table class="table">

              <thead>
                <tr>
                  <th>文件名</th>
                  <th>下载</th>
                </tr>
              </thead>
              <tbody>
                {% for i in filenames %}

                    <tr>
                        <td>{{ i }}</td>
                        <td><a class="btn btn-success btn-xs" target="_blank" href={{ url_for('apk_files',filename=i) }}>下载</a></td>
                    </tr>

                {% endfor %}
              </tbody>
            </table>
            </div>
            </div>
        </div>
    </div>





{% endblock %}