{% extends "bootstrap/base.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
{% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
             <button type="button" class="close" data-dismiss="alert">&times;</button>
             {{ message }}
        </div>
{% endfor %}
    <div class="panel panel-default">

        <div class="panel-body">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <a class="btn btn-info btn-xs"  href={{ url_for('list') }}>下载列表</a>
                </div>
            </div>

            <form method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <lable>apk名称(需要带文件名后缀)</lable>
                        <input class='form-control' name='title' type="text"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <lable>apk文件</lable>
                        <input class='form-control' name='file' type="file"/>
                     </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button class="btn btn-success" type="submit">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
